name: brew pr-pull

on:
  pull_request_target:
    types:
      - labeled

jobs:
  pr-pull:
    if: |
      contains(github.event.pull_request.labels.*.name, 'pr-pull') &&
      github.event.pull_request.head.repo.full_name == github.repository &&
      github.event.pull_request.user.type != 'Bot' &&
      github.event.pull_request.state == 'open' &&
      !github.event.pull_request.draft
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
      packages: write
    steps:
      - name: Validate PR
        run: |
          if [[ "${{ github.event.pull_request.title }}" =~ [\$\`\;] ]]; then
            echo "PR title contains suspicious characters"
            exit 1
          fi
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@de5be2e08e11cf6633df490a1195080edb8e9f5e
        with:
          core: true
          cask: false

      - name: Set up git
        uses: Homebrew/actions/git-user-config@de5be2e08e11cf6633df490a1195080edb8e9f5e
        with:
          username: BrewTestBot

      - name: Pull bottles
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ github.token }}
          HOMEBREW_GITHUB_PACKAGES_USER: ${{ github.repository_owner }}
          HOMEBREW_GITHUB_PACKAGES_TOKEN: ${{ secrets.HOMEBREW_GITHUB_API_TOKEN }}
          PULL_REQUEST: ${{ github.event.pull_request.number }}
        run: brew pr-pull --debug --root-url="https://ghcr.io/v2/chenrui333/tap" --tap="$GITHUB_REPOSITORY" "$PULL_REQUEST"

      - name: Push commits
        uses: Homebrew/actions/git-try-push@de5be2e08e11cf6633df490a1195080edb8e9f5e
        with:
          token: ${{ github.token }}
          branch: main

      - name: Delete branch
        if: github.event.pull_request.head.repo.fork == false
        env:
          BRANCH: ${{ github.event.pull_request.head.ref }}
        run: git push --delete origin "$BRANCH"
