name: Update Formulae List

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

permissions:
  contents: write

jobs:
  update-list:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - run: brew update

      - name: Tap the repo
        run: brew tap chenrui333/tap

      - name: Run update-list script
        run:  .github/scripts/update-list.sh

      - name: Push changes back
        if: always()
        run: git push
